.devise{
  background-image: image-url("test2.jpg");
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-size: cover;
}
.devise__title{
  text-align: center;
  font-size: 80px;
  font-family: 'Sawarabi Mincho', sans-serif;
  color: white;
  padding-top: 50px;
}

.devise__form{
  text-align: center;
  margin-top: 30px;
}

.field{
  font-size: 20px;
  font-family: 'Sawarabi Mincho', sans-serif;
  color: white;
}

.text{
  background-color: rgba($color: #888888, $alpha: 0.75);
  border-radius: 25px;
  margin-bottom: 30px;
  color: white;
  font-size: 40px;
}

.actions{
  font-family: 'Sawarabi Mincho', sans-serif;
  color: black;
  &__submit{
    margin-top: 30px;
    background-color: yellow;
    border-radius: 25px;
    padding: 0 30px;
  }
}