.flash{
  height: 20px;
  color: yellow;
  font-size: 15px;
  margin: auto;
  letter-spacing: 2px;
  text-align: center;
}

.notice{
  border-bottom: solid 1px yellow;
  padding-bottom: 2px;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.alert{
  border-bottom: solid 1px yellow;
  padding-bottom: 2px;
  font-family: 'Sawarabi Mincho', sans-serif;
}