.body{
  width: 100vw;
  background-image: image-url("test2.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.header{
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__new__group{
    position: absolute;
    left: 90px;
    &__icon{
      color: white;
      font-size: 60px;
      text-decoration: none;
      &::after{
        content: "新規グループ";
        color: white;
        font-size: 10px;
        font-family: 'Sawarabi Mincho', sans-serif;
        position: absolute;
        right: 1px;
        top: 80px;

      }
    }
  }
  &__logo{
    color: white;
    font-size: 90px;
    font-family: 'Grenze Gotisch', cursive;
    border-bottom: solid 1px white;
    height: 110%;
    margin-right: 40px;
  }
}

.main{
  position: relative;
  &__list{
    height: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    &__block{
      color: white;
      width: 70%;
      height: 75px;
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
      border-bottom: solid 1px white;
      &__name{
        padding-top: 10px;
        font-size: 45px;
        font-family: 'Bangers', cursive;
        letter-spacing: 12px;
        width: 400px;
        text-align: center;
      }
      &__option{
        font-family: 'Sawarabi Mincho', sans-serif;
        font-size: 15px;
        &--number{
          padding-top: 8px;
          margin-bottom: 10px;        
        }
      }
      &__new{
        margin-top: 7px;
      }
    }
  }
  &__link{
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
    height: 70px;
  }

}


.google-icon{
  color: cornflowerblue;
  text-decoration: none;
  margin-right: 50px;
}
.youtube-icon{
  text-decoration: none;
  color: red;
  margin-right: 50px;
}

.pencil:hover{
    color: rgb(214, 224, 71)
}
.pencil:before{
  font-size: 50px;
}
.pencil:after{
  content: 'POST';
  color: white;
  letter-spacing: 2px;
  font-size: 15px;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.group{
  text-decoration: none;
  color: white;
  &:hover{
    color: rgb(214, 224, 71);
  }
}

.header-right{
  display: flex;
  position: absolute;
  height: 90px;
  right: 130px;
  margin-top: 10px;
  color: white;
  font-family: 'Sawarabi Mincho', sans-serif;

.header__signup{
  color: white;
  text-align: center;
  &__link{
    font-size: 52px;
    text-decoration: none;
    color: white;
  }
  &__name{
    font-size: 10px;
  }
}

.header__signin{
  color: white;
  text-align: center;
  margin-left: 30px;
  padding-top: 4px;
  &__link{
    font-size: 50px;
    text-decoration: none;
    color:white;
  }
  &__name{
    font-size: 10px;
  }
}
}

.header__signed{
  margin-right: 50px;
  display: flex;
  &__left{
    margin-top: 35px;
  }
  &__title{
    font-size: 20px;
    border-bottom: solid 1px white;
  }
  &__name{
    text-align: center;
    padding-top: 12px;
    font-size: 15px;
  }
}

.header__logout{
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 15px;
  
  &__icon{
  color: white;
  text-decoration: none;
  font-size: 55px;
  margin-left: 70px;
  padding-top: 10px;
  height: 80px;
  }
}