.new__group__header{
  height: 120px;
  display: flex;
  align-items: center;
  &__return{
    color: rgb(192, 184, 184);
    font-size: 50px;
    position: absolute;
    left: 30px;
    top: 25px;
  }
  &__logo{
    color: white;
    font-size: 80px;
    font-family: 'Sawarabi Mincho', sans-serif;
    border-bottom: solid 1px white;
    height: 100%;
    padding-top: 5px;
    letter-spacing: 20px;
    margin: auto;
    margin-top: 100px;
  }
}
.new__group__main{
  height: calc(100vh - 120px);
  text-align: center;
  &__form{
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 200px;
    &__title{
      width: 70vw;
      margin-bottom: 20px;
      background-color:rgba($color: #888888, $alpha: 0.75);
      border-radius: 25px;
      height: 140px;
      margin-top: 160px;
      position: relative;
      font-size: 40px;

    }
    &__send{
      height: 50px;
      width: 70px;
      font-size: 45px;
      color: white;
      position: absolute;
      margin:0 0 3px 27px;
      border-style: none;
      right: 220px;
      bottom: 360px;
    }
  }
}

  


input{
  color: white;
  font-size: 30px;
  padding-left: 10px;
}

::placeholder{
  font-size: 40px;
  padding: 10px 0 0 15px;
  color: #dddddd;
  font-family: 'Sawarabi Mincho', sans-serif;
}