.new__header{
  height: 120px;
  display: flex;
  align-items: center;
  &__return{
    color: rgb(192, 184, 184);
    font-size: 50px;
    position: absolute;
    left: 30px;
    top: 25px;
  }
  &__logo{
    color: white;
    font-size: 100px;
    font-family: 'Bangers', cursive;
    border-bottom: solid 1px white;
    height: 100%;
    padding-top: 20px;
    letter-spacing: 20px;
    margin: auto;
  }
}
.main{
  height: calc(100vh - 120px);
}

  .new__main{
    height: 80%;
    position: relative;
    &__form{
      font-size: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      &__title{
        width: 70vw;
        margin-bottom: 20px;
        background-color:rgba($color: #888888, $alpha: 0.75);
        border-radius: 25px;
        height: 70px;
      }
      &__text{
        width: 70vw;
        height: 55vh;
        background-color: rgba($color: #888888, $alpha: 0.75);
        border-radius: 25px;
      }
      &__img{
        color: white;
        position: absolute;
        bottom: 40px;
        right: 330px;
      }
      &__send{
        height: 50px;
        width: 70px;
        font-size: 45px;
        color: white;
        position: absolute;
        bottom: 20px;
        margin:0 0 3px 27px;
        border-style: none;
      }
    }
  }

.new{
  text-decoration: none;
  color: white;
  font-size: 40px;
}

.hidden{
  display: none;
}

textarea{
  color: white;
  font-size: 30px;
  padding-left: 10px;
}

input{
  color: white;
  font-size: 30px;
  padding-left: 10px;
}

::placeholder{
  font-size: 40px;
  padding: 10px 0 0 15px;
  color: #dddddd;
  font-family: 'Sawarabi Mincho', sans-serif;
}