.new__comment{
  display: flex;
  position: relative;
  &__title{
    color: white;
    font-size: 80px;
    font-family: 'Sawarabi Mincho', sans-serif;
    margin-right: 40px;
    margin: auto;
  }
  &__return{
    color: rgb(192, 184, 184);
    font-size: 50px;
    position: absolute;
    left: 30px;
    top: 25px;
  }
}


.new__comment__form{
  text-align: center;
  position: relative;
  &__text{
    background-color: rgba($color: #888888, $alpha: 0.75);
    height: 70vh;
    width: 70vw;
    border-radius: 25px;
    font-size: 40px;
  }
  &__submit{
    font-size: 60px;
    color: white;
    position: absolute;
    right: 270px;
    bottom: 25px;
  }
}
 