.show__messages__header{
  display: flex;
  height: 105px;
  &__title{
    color: white;
    font-size: 60px;
    width: 63%;
    text-align: center;
    padding-top: 10px;
    margin-left: 70px;
    font-family: 'Sawarabi Mincho', sans-serif;
  }
  &__return{
    color: rgb(192, 184, 184);
    font-size: 50px;
    margin: 30px 0 0 30px;
  }
  &__link{
    font-size: 75px;
    height: 90px;
    &__icon{
      color: white;
      width: 70px;
      text-decoration: none;
    }
    &__favo{
      font-size: 60px;
      text-decoration: none;
      color: rgb(207, 62, 183);
      &__icon:after{
        content: "いいね";
        color: white;
        font-size: 15px;
        font-family: 'Sawarabi Mincho', sans-serif;
      }
    }
    &__nofavo{
      font-size: 60px;
      text-decoration: none;
      color: white;
      &__icon:after{
        content: "いいね";
        color: white;
        font-size: 15px;
        font-family: 'Sawarabi Mincho', sans-serif;
      }
    }
    &:after{
      content: 'comment';
      font-size: 15px;
      font-family: 'Bangers', cursive;
      color: white;
    }
  }
}

.show__messages{
  color: white;
  height: 57%;
  overflow: scroll;
  background-color: rgba($color: #888888, $alpha: 0.75);
  width: 75%;
  border-radius: 25px;
  margin: auto;
  font-family: 'Sawarabi Mincho', sans-serif;
  &__user{
    padding: 5px 0 0 20px;
    &__edit,i{
      position: absolute;
      right: 200px;
      top: 10px;
      text-decoration: none;
      color: white;
      font-size: 35px;
    }
  }
  &__img{
    text-align: center;
    padding-top: 15px;
  }
  &__content{
    font-size: 30px;
    padding: 0 30px 0 30px;
    color: white;
  }
  &__favo{
    font-size: 30px;
    position: absolute;
    right: 100px;
    bottom: 310px;
    &__icon::before{
      color:  rgb(207, 62, 183);
    }
  }
}

.comment__box{
  height: 30%;
  width: 75%;
  margin: auto;
  border-radius: 25px;
  background-color: rgba($color: #888888, $alpha: 0.75);
  padding: 0 30px 0 30px;
  margin-top: 15px;
  font-family: 'Sawarabi Mincho', sans-serif;
  overflow: scroll;
  &__title{
    font-family: 'Bangers', cursive;
    padding-top: 5px;
    color: white;
    letter-spacing: 2px;
  }
  &__list{
    color:white;
    font-size: 18px;
    padding: 0 30px 0 30px;
    display: flex;
    margin-top: 5px;
    &__comment{
      width: 85%;
      padding-top: 12px;
      margin-left: 40px;
    }
    &__left{
      width: 180px;
      &__name{
        padding-top: 10px;
        font-size: 15px;
        color: white;
      }
      &__date{
        font-size: 12px;
        color: white;
        padding-left: 5px;
      }
    }
  }
}